<div id="<%= dom_id transaction %>" class="transaction">
  <span><%= transaction.name%></span>
  <span><%= transaction.created_at.strftime("%e %B %Y") %></span>
  <span><%= number_to_currency(transaction.amount) %></span>
   <% if can? :destroy, transaction %>
    <%= button_to 'Delete', category_transaction_url(id: transaction.id), method: :delete, data: {turbo: false}, class: 'btn bg-danger' %>
  <% end %>
  </div>
